/* Hoja de Personaje */
.ncve[data-tablilla="hojapj"] {
 margin: 1rem auto;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-areas: 
   "header"
   "main"
   "ability"
   "spells"
   "passive";
 gap: 1rem;
 width: 100%;
 max-width: 800px;
 padding: 1rem;
 background: var(--tbckg0);
 backdrop-filter: var(--ft-blur);
 border-radius: 10px;
}

.ncve[data-tablilla="hojapj"] > h1 {
 font: var(--fs-h1) var(--f-deco);
 color: var(--group-25);
 text-align: center;
 margin: 0;
}

.ncve[data-tablilla="hojapj"] > h2 {
 font: var(--fs-h3) var(--f-mono);
 color: var(--text);
 text-align: center;
 margin-top: 0.5rem;
}

.ncve[data-tablilla="hojapj"] [data-section="main"] {
 grid-area: main;
 background: var(--tbckg0);
 padding: 1rem;
 border-radius: 5px;
 backdrop-filter: var(--ft-blur);
}

.ncve[data-tablilla="hojapj"] [data-section="main"] > b {
 font: var(--fs-h4) var(--f-deco);
 color: var(--group-25);
 text-align: center;
}

.ncve[data-tablilla="hojapj"] [data-section="ability"],
.ncve[data-tablilla="hojapj"] [data-section="spells"],
.ncve[data-tablilla="hojapj"] [data-section="passive"] {
 background: var(--tbckg0);
 padding: 1rem;
 border-radius: 5px;
 backdrop-filter: var(--ft-blur);
}

.ncve[data-tablilla="hojapj"] [data-section="ability"] {
 grid-area: ability;
}

.ncve[data-tablilla="hojapj"] [data-section="spells"] {
 grid-area: spells;
}

.ncve[data-tablilla="hojapj"] [data-section="passive"] {
 grid-area: passive;
}

.ncve[data-tablilla="hojapj"] .skill-level {
 display: flex;
 gap: 0.5rem;
 margin-top: 1rem;
}

.ncve[data-tablilla="hojapj"] .skill-level > span {
 background: var(--tbckg0);
 padding: 0.5rem;
 border-radius: 5px;
 backdrop-filter: var(--ft-blur);
 text-align: center;
}

.ncve[data-tablilla="hojapj"] .spells-container,
.ncve[data-tablilla="hojapj"] .passive-container {
 display: flex;
 gap: 1rem;
 flex-direction: column;
}

.ncve[data-tablilla="hojapj"] .spell,
.ncve[data-tablilla="hojapj"] .passive {
 background: var(--tbckg0);
 padding: 1rem;
 border-radius: 5px;
 backdrop-filter: var(--ft-blur);
}

.ncve[data-tablilla="hojapj"] .spell > b,
.ncve[data-tablilla="hojapj"] .passive > b {
 font: var(--fs-tiny) var(--f-deco);
 color: var(--group);
 text-transform: uppercase;
 margin-bottom: 0.5rem;
}

.ncve[data-tablilla="hojapj"] .spell .level,
.ncve[data-tablilla="hojapj"] .passive .level {
 display: flex;
 gap: 0.5rem;
}

.ncve[data-tablilla="hojapj"] .level span {
 background: var(--tbckg0);
 padding: 0.5rem;
 border-radius: 5px;
 backdrop-filter: var(--ft-blur);
 text-align: center;
}

/* Estilo para ocultar el perfil */
.post:has(.ncve[data-tablilla="hojapj"]) .postprofile {
 display: none;
}
