/*
    Falso archivo CSS que contiene JavaScript.
    Esto se ejecutará solo si es interpretado como JavaScript.
*/
(() => {
    document.addEventListener("DOMContentLoaded", function () {
        // Seleccionamos los botones de filtro
        const buttons = {
            all: document.getElementById("filter-all"),
            pnj: document.getElementById("filter-pnj"),
            dead: document.getElementById("filter-dead"),
            play: document.getElementById("filter-play"),
        };
        // Seleccionamos los personajes
        const characters = document.querySelectorAll(".character");

        // Función para filtrar personajes
        function filterCharacters(filter) {
            characters.forEach(character => {
                if (filter === "all" || character.dataset.status === filter) {
                    character.style.display = "flex";
                } else {
                    character.style.display = "none";
                }
            });
        }

        // Añadimos eventos de clic a los botones
        buttons.all.addEventListener("click", () => filterCharacters("all"));
        buttons.pnj.addEventListener("click", () => filterCharacters("pnj"));
        buttons.dead.addEventListener("click", () => filterCharacters("dead"));
        buttons.play.addEventListener("click", () => filterCharacters("play"));
    });
})();
